<div class="footer-container">
        <ul>
            <li>Copyright &copy 2016 Flushr</li>
        </ul>

    <img src="https://res.cloudinary.com/kellyliu/image/upload/v1455075775/skyline-light.png"
            height="230px" />
</div>
