<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="header-container">

    <div class="collapse navbar-collapse" id="collapse-menu">
        <ul class="nav navbar-nav pull-left">
            <div id="logo"><h3><a href="#">Flush</a></h3></div>
        </ul>

        <ul class="nav navbar-nav pull-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="address, neighborhood, city, state or zip">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>

            <li><a href="#">About Me</a></li>
            <li><a href="#">Write a Review</a></li>

            <% if current_user.nil? %>
                <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign in", new_session_url %></button></li>
            <% else %>

                <li role="presentation" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.username %> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">About Me</a></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Logout", session_url, method: :delete %></li>
                  </ul>
                </li>
             <% end %>

        </ul>
    </div>
  </div>
  </div>
  </nav>

