  <nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapse-menu"
              aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
        <ul class="nav navbar-nav pull-left">
            <div id="logo"><h3>Flush</h3></div>
        </ul>

      <ul class="nav navbar-nav pull-right">
        <li><a href="#">Search</a></li>
        <li><a href="#">Write a Review</a></li>

        <% if current_user.nil? %>
            <li><%= link_to "Sign in", new_session_url %></li>
        <% else %>
            <li><%= link_to "Logout", session_url, method: :delete %></li>
            <li><%= current_user.username %></li>
         <% end %>
      </ul>
    </div>

  </div>
  </nav>
