/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body, h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: "Roboto", sans-serif;
}

body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #F0F9FE;
}

/* HEADER *************/
.header-wrapper {
    width: 100%;
    height: 100px;
}

.header-container {
    height: 100%;
    padding-bottom: 6px;
    border-bottom: 2px dotted #ADD8E6;
}

.logo {
    float: left;
    margin-top: 30px;
}

.logo h1 {
    text-transform: uppercase;
    font-family: 'Inconsolata';
    letter-spacing: 4px;
    font-size: 40px;
}

.logo h1 a:link, a:hover, a:active,  {
    text-decoration: none;
    color: #a3d9ea;
}

.navbar-right {
    font-size: 20px;
    display: inline;
}

.navbar-right li {
    font-size: 16px;
    font-family: 'Inconsolata';
    list-style: none;
    display: inline-block;
}

.navbar-right a:link, a:hover, a:active {
    text-decoration: none;
    color: #9aa2b0
}

/* CONTENT *************/
.content-wrapper {
    width: 100%;
    height: 400px;
    padding-bottom: 40px;
}

.content-container {
    height: 100%;
    font-family: "Inconsolata";
    background-color: #FFFFFF;
}

.content-container h3 {
    padding-top: 0px;
    font-family: "Inconsolata";
    font-size: 20px;
}

.recent-reviews-container {
    text-decoration: none;
    list-style: none;
}

.recent-reviews-container ul, li {
    text-decoration: none;
    list-style: none;
}

/* MAP ************/
.map {
  width: 500px;
  height: 500px;
  float: center;
  position: relative;
}

/* FOOTER *************/
.footer-wrapper {
    height: 40px;
    width: 100%;
    position: absolute;
    margin-bottom: 0px;
    background-color: #d4ebf2;
}

.footer-container {
    height: 100%;
    padding-top: 20px;
    text-align: center;
    font-family: "Inconsolata";
    background-color: #d4ebf2;
}

.footer-container li {
    list-style: none;
}
