/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

html, body, #root, #app, h1, h2, h3, h4, h5, h6, p, li, span, a {
  font-family: "Roboto", sans-serif;
}

body {
    background-color: #F0F9FE;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

/* LANDING PAGE *******/

.landing-page h1, h2, h3, h4, h5 {
    color: #6075f4;
    font-weight: bold;
}

.recent-activity-container {
    text-decoration: none;
    padding-bottom: 40px;
    padding-right: 25px;
}

.recent-activity-container ul, li {
    text-decoration: none;
    list-style: none;
}

.review-of-the-day {
    text-decoration: none;
}

.vertical-hr {
    border-right: 1px solid #d8e0e4;
    height: 100%;
    margin-bottom: 40px;
}


/* HEADER *************/
.header-wrapper {
    height: 100%;
}

.container-fluid {
    margin: 0px 170px;
}

.container {
    width: 1000px;
    margin-top: 0px;
    border: 1px solid #d8e0e4;
    border-top: 0;
}

.logo {
    float: left;
}

.logo h1 {
    text-transform: uppercase;
    font-family: 'Inconsolata';
    letter-spacing: 4px;
    font-size: 40px;
}

.logo h3 a:link, a:hover, a:active,  {
    text-decoration: none;
    color: #a3d9ea;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-right li {
    font-family: 'Inconsolata';
    list-style: none;
    display: inline;
}

.navbar-right a:link, a:hover, a:active {
    text-decoration: none;
    color: #9aa2b0;
}

.searchbar {
    width: 500px;
}


/* CONTENT *************/
.container {
    background-color: #FFFFFF;
}

.content-wrapper {
    width: 100%;
    height: 400px;
    padding-bottom: 40px;
}

.content-container {
    height: 100%;
    font-family: "Inconsolata";
    background-color: #FFFFFF;
    margin: 0px 100px;
}

.content-container h3 {
    padding-top: 0px;
    font-family: "Inconsolata";
    font-size: 20px;
}

.list {
    width: 300px;
    float: left;
    position: relative;
}


/* MAP ************/
.map {
  width: 600px;
  height: 500px;
  // float: right;
  position: fixed;
}

/* FOOTER *************/

.footer-container {
    height: 150px;
    padding-top: 40px;
    text-align: center;
    font-family: "Inconsolata";
    background-color: #F0F9FE;
}

.footer-container li {
    list-style: none;
    display: inline;
}
